:root {
	scroll-behavior: smooth;
}

.homeHero h1 {
	font-size: 4.9rem;
}
body > header nav a {
	font-size: 1.1rem;
	font-weight: 400;
}
.brand {
	text-decoration: none;
}
.brand:hover {
	text-decoration: underline;
}

/* dracula fixes */
.token.punctuation {
	color: unset;
}
pre {
	padding: var(--s0);
}

/* EXPERIMENTAL */
.gutters {
	display: grid;
	grid-template-columns: 1fr var(--s1) minmax(0, var(--measure)) var(--s1) 1fr;
	margin-inline: calc(var(--s1) * -1);
}
.gutters > * {
	grid-column: 3;
}
.gutters > [data-gutter="pop"] {
	grid-column: 2 / 4;
}
.gutters > [data-gutter="fill"] {
	grid-column: 1 / 6;
}

sidebar-layout {
	/* position: relative; */
}
sidebar-layout > nav:first-child > .flow {
	/* position: sticky; */
	/* top: 0; */
}

main.api {
	flex: 1;
	padding: var(--s0);
}
/* main.api center-layout h3 {
	position: sticky;
	top: 0;
	background: var(--background);
	padding-bottom: 0.5rem;
	margin-bottom: -0.5rem;
} */
@media (min-width: 768px) {
	main.api > sidebar-layout > nav {
		max-height: 100vh;
		overflow-y: auto;
		position: sticky;
		top: 0;
	}
}
.apiLabels {
	display: inline-flex;
	gap: var(--s-3);
	vertical-align: super;
}
.apiLabels code {
	font-size: 0.7em;
}
.apiMember {
	padding-inline-start: var(--s0);
	padding-block: var(--s-2);
	border-left: var(--border-thin) solid var(--border);
}
.symbolName {
	font-family: var(--font-mono);
}

a[data-variant="subtle"] {
	color: var(--color);
	text-decoration: underline dashed var(--border);
	font-weight: bold;
}

.sticky {
	position: sticky;
	top: 0;
	background: var(--background);
	padding-bottom: 0.5rem;
	margin-bottom: -0.5rem;
}

.subtleDate {
	opacity: 0.7;
}
