{% if collections['proposal-sketch'].length > 0 %}
<h2>Sketches</h2>
<ul>
	{% for proposal in collections['proposal-sketch'] %}
	<li><a href="{{ proposal.url }}">{{ proposal.data.title }} →</a></li>
	{% endfor %}
</ul>
{% endif %}

{% if collections['proposal-complete'].length > 0 %}
<h2>Complete</h2>
<ul>
	{% for proposal in collections['proposal-complete'] %}
	<li><a href="{{ proposal.url }}">{{ proposal.data.title }} →</a></li>
	{% endfor %}
</ul>
{% endif %}

{% if collections['proposal-archive'].length > 0 %}
<h2>Archive</h2>
<ul>
	{% for proposal in collections['proposal-archive'] %}
	<li><a href="{{ proposal.url }}">{{ proposal.data.title }} →</a></li>
	{% endfor %}
</ul>
{% endif %}
