---
api:
  entrypoint: core/mod.ts
layout: html.njk
---

{% macro labels(tags) %}
<span space="s-3" class="apiLabels">
	{% if tags.unstable %}
	<code>unstable</code>
	{% endif %}
	{% if tags.internal %}
	<code>internal</code>
	{% endif %}
</span>
{% endmacro %}

<main class="api">
	<sidebar-layout sideWidth="25ch" noStretch>
		<nav>
			<div class="flow">
				<h2>Contents</h2>
				<ul>
					{% for entry in api[api.entrypoint] | dictsort %}
					<li>
						<a href="#{{ entry[1].id | slugify }}">
							{{ entry[1].name }}
						</a>
					</li>
					<ul>
						{% for member in entry[1].members | dictsort %}
						<li>
							<a href="#{{ member[1].id | slugify }}">
								{{ member[1].name }}
							</a>
						</li>
						{% endfor %}
					</ul>
					{% endfor %}
				</ul>
			</div>
		</nav>
		<div>
			<center-layout>
				<stack-layout space="s3">
					<div class="flow">
						{{ content | safe }}
					</div>
	
					{% for entry in api[api.entrypoint] | dictsort %}
					<div class="flow" id="{{ entry[1].id | slugify }}">
						<h2>
							{{ entry[0] }}
							{{ labels(entry[1].tags) }}
						</h2>
	
						{{ entry[1].content | renderContent('md') | safe }}
	
						{% for member in entry[1].members | dictsort %}
						<div class="flow" id="{{ member[1].id | slugify }}">
							<h3>
								{{ member[0] }}
								{{ labels(member[1].tags) }}
							</h3>
		
							{{ member[1].content | renderContent('md') | safe }}
						</div>
	
						{% endfor %}
					</div>
					{% endfor %}
	
					<details>
						<summary>debug</summary>
						<pre>{{ api[api.entrypoint] | dump(2) | safe }}</pre>
					</details>
				</stack-layout>
			</center-layout>
		</div>
	</sidebar-layout>
</main>
