---
api:
  entrypoint: core/mod.ts
layout: html.njk
---

{% macro labels(tags) %}
<span space="s-3" class="apiLabels">
	{% if tags.unstable %}<code>unstable</code>{% endif %}
	{% if tags.internal %}<code>internal</code>{% endif %}
	{% if tags.type %}<code>type</code>{% endif %}
</span>
{% endmacro %}

{% set groups = api[api.entrypoint] | entries | groupby('1.tags.group') %}

<main class="api">
	<sidebar-layout sideWidth="25ch" noStretch>
		<nav>
			<div class="flow">
				<h2>Contents</h2>
				{% for group, entries in groups %}
				<div>
					{% if (groups | keys).length > 1 %}
					<p>
						<a data-variant="subtle" href="#group-{{ group | slugify }}">{{ group }}</a>
					</p>
					{% endif %}
					<ul>
						{% for entry in entries | sort(false, false, '1') %}
						<li>
							<a href="#{{ entry[1].id | slugify }}">
								{{ entry[1].name }}
							</a>
						</li>
						<ul>
							{% for member in entry[1].children | dictsort %}
							<li>
								<a href="#{{ member[1].id | slugify }}">
									{{ member[1].name }}
								</a>
							</li>
							{% endfor %}
						</ul>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</nav>
		<div>
			<center-layout>
				<stack-layout space="s5">
					<div class="flow">
						{{ content | safe }}
					</div>
	
					{% for group, entries in groups %}
					<stack-layout space="s3">
						{% if (groups | keys).length > 1 %}
						<div id="group-{{ group | slugify }}" style="--flow: 0">
							<h2>{{ group }}</h2>
						</div>
						{% endif %}


						{% for entry in entries | sort(false, false, '1') %}
						<div class="flow apiEntry" id="{{ entry[1].id | slugify }}">
							<h3>
								{{ entry[0] }}
								{{ labels(entry[1].tags) }}
							</h3>
		
							{{ entry[1].content | renderContent('md') | safe }}
		
							{% for member in entry[1].children | dictsort %}
							<div class="flow apiMember" id="{{ member[1].id | slugify }}">
								<h4>
									<!-- {{ entry[0] }}# -->
									{{ member[0] }}
									{{ labels(member[1].tags) }}
								</h4>
			
								{{ member[1].content | renderContent('md') | safe }}
							</div>
		
							{% endfor %}
						</div>
						{% endfor %}
					</stack-layout>
					{% endfor %}
	
					<details>
						<summary>debug</summary>
						<pre>{{ api[api.entrypoint] | dump(2) | safe }}</pre>
					</details>
				</stack-layout>
			</center-layout>
		</div>
	</sidebar-layout>
</main>
